.todosContainer {
  background-color: #ecedf6;
  padding: 1rem;
  border-radius: 12px;
}

.emptyText {
  font-size: 1.6rem;
  font-weight: 500;
  color: #585858;
  text-align: center;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background-color: #dedfe1;
  width: max-content;
  height: auto;
}

@media screen and (max-width: 500px) {
  .todosContainer {
    padding: 0.4rem;
    border-radius: 6px;
  }

  .emptyText {
    font-size: 1.1rem;
    padding: 0.4rem 0.8rem;
    border-radius: 7px;
  }
}
