.button {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.button--primary {
  background-color: #0a73fa;
  color: #ffffff;
}

.button--secondary {
  background-color: #ccccde;
  color: #000000;
}

.buttonSelect {
  padding: 10px;
  background-color: #ccccde;
  color: #000000;
  outline: none;
}

@media screen and (max-width: 500px) {
  .button {
    font-size: 0.9rem;
    padding: 7px 15px;
  }

  .buttonSelect {
    padding: 7px;
  }
}
