.headerForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin-bottom: 30px;
}

.createTodoButton {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  padding: 10px 25px;
  color: #ffffff;
  background-color: #0a73fa;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.createTodoInput {
  font-family: "Poppins", sans-serif;
  width: 100%;
  outline: none;
  padding: 10px 25px;
  border-radius: 5px;
}
